{% extends 'base.html.twig' %}

{% block title %}SafEats Mis alergias!{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="./librerias/css/style.css">
    <main class="container mx-auto">
        <section class="mt-5 col-lg-9 d-block border border-danger rounded bg-orange mx-auto" style="height: 550px;">
            <div class=" mt-5 border-dark border-bottom col-lg-12 d-flex allergy-title"><h4 class="col-lg-11"> Mis Alergias </h4><img class="allergy col-lg-1" src="minus.png"/></div>
            <div class="col-lg-12 allergy">
                {% set collection = user.getAllergyCollection() %}
                {% if collection is empty %}
                    <a>No tiene alergias agregadas.</a>
                {% else %}
                    {% for collection in allergy %}
                        {{ allergy.name }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class=" mt-5 border-dark border-bottom col-lg-12 d-flex"><h4 class="col-lg-11"> Añadir nueva alergia </h4></div>
            <div class="col-lg-12 contenedor-buttons d-flex py-3">
                <div class="mx-auto py-4 col-lg-3 font-weight-bold d-flex flex-wrap justify-content-center border border-dark rounded aComun" data-toggle="modal" data-target="#myModalGlobalAllergy">
                    <img class="aComun col-lg-7" src="users-group.png"/>
                    <p class="mb-0 col-lg-12 d-block text-center">común</p>
                </div>
                <div class="mx-auto py-4 col-lg-3 font-weight-bold d-flex flex-wrap justify-content-center border border-dark rounded aPersonal" data-toggle="modal" data-target="#myModalPersonalAllergy">
                    <img class="aPersonal col-lg-7" src="man-user.png"/>
                    <p class="mb-0 col-lg-12 d-block text-center">personal</p>
                </div>
            </div>
        </section>
    </main>


    <!-- The Modal Add allergy global -->
    <div class="modal fade" id="myModalGlobalAllergy">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-title">
                    <h4 class="modal-title">Añadir alergia común</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body bg-body">
                     alergia común
                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-title">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn bg-blue-buttons text-white">Guardar cambios</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Add allergy personal -->

    <div class="modal fade" id="myModalPersonalAllergy">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-title">
                    <h4 class="modal-title">Añadir alergia personal</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body bg-body">

                    <input class="form-control my-2" type="text" placeholder="Escriba el nombre para su alergia o intolerancia personalizada.."/>
                    <input type='hidden' class='typeAllergy' value='personal'/>
                    <div class="col-lg-12 d-flex justify-content-end">
                        <button type="button" class="col-lg-2 btn bg-blue-buttons text-white my-3 ml-auto" data-toggle="modal" data-target="#addNewIngredient">Añadir ingredientes</button>
                    </div>
                    <label class="font-weight-bold"> Marque los alimentos que desea añadir a su alergia o intolerancia:</label>




                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-title">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn bg-blue-buttons text-white">Guardar cambios</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Añadir Ingrediente-->
    <div class="modal fade" id="addNewIngredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-title">
                    <h5 class="modal-title" id="exampleModalLongTitle">Añadir ingrediente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-body">
                    <input type='text' class='form-control nameIngredient mt-4' placeholder='Escribe nombre del alimento..'/>
                    <select class="form-control my-2">
                        <option value="0" selected disabled>Seleccione una categoría</option>
                        <option value="Leche y derivados">Leche y derivados.</option>
                        <option value="Carnes">Carnes.</option>
                        <option value="Pescados">Pescados.</option>
                        <option value="Mariscos">Mariscos</option>
                        <option value="Huevos">Huevos.</option>
                        <option value="Verduras y hortalizas">Verduras y hortalizas.</option>
                        <option value="Fruta">Fruta.</option>
                        <option value="Legumbres">Legumbres</option>
                        <option value="Frutos secos">Frutos secos.</option>
                        <option value="Cereales y derivados, azúcar y dulces">Cereales y derivados, azúcar y dulces.</option>
                        <option value="Grasas, aceites y mantequillas">Grasas, aceites y mantequillas.</option>
                    </select>
                </div>
                <div class="modal-footer bg-title">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn bg-blue-buttons text-white">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal Perfil-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-title">
                    <h4 class="modal-title">Perfil {{ user.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body bg-body">
                    <div class="col-lg-12 d-flex">
                        <div class="col-lg-5">
                            <div class="img col-lg-12 justify-content-center d-flex">
                                <img class="mx-auto" src="user.png" width="150px" height="150px" class="mr-4">
                            </div>
                            <div class="imgChange col-lg-12 d-flex justify-content-center mx-center"><button type="button" class="btn bg-blue-buttons text-white mx-auto">Cambiar</button></div>
                        </div>
                        <div class="col-lg-6 ml-5 pl-5">
                            <a class="font-weight-bold"> Nombre: </a> {{ user.name }}<br>
                            <a class="font-weight-bold"> Apellidos: </a> {{ user.userlastname }}<br>
                            <a class="font-weight-bold"> Email: </a> {{ user.email }}<br>
                            <a class="font-weight-bold"> Direccion: </a> {{ user.address }}<br>
                            <a class="font-weight-bold"> Provincia: </a> {{ user.departament }}<br>
                            <a class="font-weight-bold"> Localidad: </a> {{ user.usercity }}<br>
                            <a class="font-weight-bold"> Codigo Postal: </a> {{ user.getPostalCode }}<br>

                            <button type="button" class="btn bg-blue-buttons text-white my-3" data-toggle="modal" data-target="#exampleModalCenter">Editar</button>
                        </div>
                    </div>
                    <div class="border-dark border-bottom col-lg-12 d-flex allergy-title"><h4 class="col-lg-11"> Mis Alergias </h4><img class="allergy col-lg-1" src="minus.png"/></div>
                    <div class="col-lg-12 allergy">
                        {% set collection = user.getAllergyCollection() %}
                        {% if collection is empty %}
                            <a>No tiene alergias agregadas.</a>
                        {% else %}
                            {% for collection in allergy %}
                                {{ allergy.name }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="border-dark border-bottom col-lg-12 d-flex my-2 favorites-title"><h4 class="col-lg-11"> Favoritos </h4><img class="favorites col-lg-1" src="minus.png"/></div>
                    <div class="col-lg-12 favorites">Proximamente...</div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-title">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Edit perfil-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-title">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar Perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-body">
                    {% if is_granted('ROLE_USER') %}
                        <div class="panel panel-info mt-2 mb-4">
                            <div class="panel-heading rounded-top px-3 py-2 mb-0">
                                <p class="font-weight-bold mb-0">SafEats informativo:</p>
                            </div>
                            <div class="panel-body px-4 py-2 bg-white rounded-bottom">
                                <p class="mb-2 font-weight-bold">¿Es usted el dueño o responsable de un local de restauración?</p>
                                <p class="mb-2">Si es asi escriba ACTIVAR en la siguiente caja de texto y Guarde los cambios para poder empezar a registrar su negocio en nuestro sitio WEB.</p>
                                <p class="mb-2">Sus clientes se lo agradecerán y por supuesto nosotros también.</p>
                                <span class="font-weight-bold mb-3 d-block">Obtener permisos:</span>
                                <input type="text" class="form-control my-3 d-block permisos" placeholder="ACT...."/>
                            </div>
                        </div>
                    {% endif %}
                    <div class="errorEdit"></div>
                    <div class="form">
                        <span class="font-weight-bold mb-3 d-block">Datos personales:</span>
                        <input type="text" class="form-control my-3 d-block name" placeholder="Nombre"/>
                        <input type="text" class="form-control my-2 d-block lastname" placeholder="Apellidos"/>

                        <span class="font-weight-bold mb-3 d-block">Dirección:</span>
                        <input type="text" class="form-control my-3 d-block address" placeholder="Introduzca dirección"/>
                        <input type="text" class="form-control my-3 d-block postalCode" placeholder="Código postal"/>
                        <select class="form-control my-2 d-block country">
                            <option value="0" selected disabled> Seleccione una opcion.. </option>
                            <option value="España"> España </option>
                        </select>

                        <select id='departament' class='form-control my-2 departament'>
                        </select>

                        <select id='city' class='form-control mt-2 my-3 city'>
                        </select>

                        <input type="hidden" class="role" value="{{ user.getRoles[0] }}"/>

                    </div>
                </div>
                <div class="modal-footer bg-title">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn bg-blue-buttons text-white editPersonalData">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}